@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: rgb(255,255,255);
    background: linear-gradient(221deg, rgba(255,255,255,0) 0%, rgba(141,230,250,0.5153711142660189) 42%, rgba(52,161,205,0.5097688733696604) 90%);
}

/*<!--- Navbar -->*/

header {
    /*border: 1px solid;*/
    width: 80%;
    margin: auto;
}

header:after {
    content: '';
    display: block;
    clear: both;
}

header .logo{
    width: 70px;
    cursor: pointer;
    /*border: 1px solid;*/
    float: left;
    padding: 3px 0;
}

header ul {
    /*border: 1px solid;*/
    float: right;
}

header ul li {
    display: inline-block;
    list-style: none;
}

header ul li a {
    padding: 25px 20px;
    display: inline-block;
    color: #130f49;
    text-decoration: none;
}

header ul li a:hover {
    color: #34a1cd;
}


/*Text Box*/
.text-content {
    height: 60vh;
    /*border: 1px solid;*/
    position: relative;
    width: 80%;
    margin: auto;
}

section {
    padding: 50px 0;
}

section:last-of-type {
    margin-bottom: 50px;
}

.text-content h1 {
    font-size: 60px;
    line-height: 160px;
    color: #55527c;
}

.text-content h1 span.auto-input {
    color: #34a1cd;
}

.text-content p {
    color: #55527c;
}

.text-content a {
    margin-top: 30px;
    display: inline-block;
    border-radius: 6px;
    border: 2px solid #34a1cd;
    color: #34a1cd;
    padding: 10px 30px;
    text-decoration: none;
}

.btn1 {
    background: white;
    color: #34a1cd;
    font-weight: 600;
}

.btn1:hover {
    background: #34a1cd;
    color: white;
    border: 1px solid #34a1cd;
}

.btn2 {
    background: white;
    color: #34a1cd;
    font-weight: 600;
}

.btn2:hover {
    background: #34a1cd;
    color: white;
    border: 1px solid white;
}

/*Picture*/
.hero{
    /*border: 1px solid;*/
    display: inline-block;
    position: absolute;
    right: 8%;
    top: 5%;
    overflow: hidden;
    border-radius: 100% 0px 100% 100%;
    background-color: #d9f4ff;
    width: 400px;
    height: 400px;
    margin: auto;
}

.hero:hover .user-img{
    right: 5px;
    left: 3px;
    bottom: 10px;
}

.user-img{
    width: 300px;
    position: absolute;
    bottom: -1%;
}

/*Footer*/
footer {
    /*border: 1px solid;*/
    padding: 50px 150px;
    background-color: #130f49;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.info {
    justify-content: space-between;
}

.footer-logo {
    display: flex;
    justify-content: center;
    width: 50px;
}

.info p {
    display: flex;
    justify-content: center;
    color: white;
}

.social {
    display: flex;
    justify-content: center;
}

.social a {
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}

.social a i {
    font-size: 2em;
    color: #34a1cd;
    opacity: 1;
}

.social a:hover {
    background-color: black;
    transition: 0.5s;
}

.copyright {
    display: flex;
    justify-content: center;
}

.copyright p {
    margin-top: 15px;
    font-size: 14px;
    color: white;
}


/*Portofolio*/

.experience {
    height: 300vh;
    /*border: 1px solid;*/
    position: relative;
    width: 80%;
    margin: auto;
}

.title {
    font-size: 30px;
    line-height: 200px;
    color: #55527c;
}

.article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    -webkit-box-align: center;
    margin-bottom: 0.5rem;
    unicode-bidi: isolate;
    /*border: 1px solid;*/
    padding: 0.5rem;
}

.post {
    color: #34a1cd;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-size: 0.8em;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
    margin-right: 1rem;
    border: 3px solid #34a1cd;
}

.post-title {
    font-size: 2rem;
    text-transform: capitalize;
}

.post-title a {
    color: #34a1cd;
    display: inline-block;
    position: relative;
    padding-top: 0.5em;
    padding-bottom: 0.25em;
    transition: 0.2s ease-out;
    will-change: transform, color;
    text-decoration: none;
}

.post-title a:hover {
    color: #000080;
}

.article p {
    font-size: 0.98rem;
    inline-height: 2;
    color: black;
    margin-top: 1rem;
    text-align: justify;
    margin-bottom: 2rem;
    text-wrap-style: auto;
}

.category {
    color: black;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-size: 0.8em;
    background: darkgrey;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
    margin-right: 1rem;
    border: 1px solid white;
    display: inline-block;
    margin-bottom: 1rem;
    text-decoration: none;
}

.content-media {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;

}

.wrapper {
    max-width: 100%;
    margin-bottom: 0.5rem;
    max-height: 400px;
    overflow: hidden;
    width: 100%;
    object-fit: cover;
    object-position: center;
    opacity: 100;
    /*border: 1px solid;*/
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

.wrapper img {
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.header-porto {
    margin-left: 10px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
}

/* Media Query untuk perangkat dengan lebar maksimum 768px (tablet dan HP) */
@media (max-width: 768px) {
    header {
        max-width: 75rem;
    }

    header ul {
        float: left;
    }

    header ul li {
        padding: 5px 1px;
    }

    header ul li a {
        font-size: 20px;
    }

    .text-content h1 {
        font-size: 26px;
        line-height: 80px;
        color: #55527c;
    }

    .text-content p {
        color: #55527c;
        font-size: 10px;
    }

    .text-content a {
        font-size: 10px;
        margin-top: 15px;
        border-radius: 3px;
        border: 1px solid #34a1cd;
        padding: 5px 15px;
    }

    .hero{
        border: 1px solid;
        border-radius: 100% 0px 100% 100%;
        background-color: #d9f4ff;
        width: 170px;
        height: 170px;
        bottom: -200px;
        left: 30px;
    }

    .user-img{
        width: 130px;
        position: absolute;
        bottom: -1%;
    }

    .hero:hover .user-img{
        right: 5px;
        left: 3px;
        bottom: 10px;
    }
    .footer-logo {
        width: 40px;
    }

    .info p {
        font-size: 10px;
    }

    .social a i {
        font-size: 1em;
        color: #34a1cd;
        opacity: 1;
    }

    .social a {
        padding: 7px;
        margin: 7px;
        border-radius: 50%;
    }

    .copyright p {
        margin-top: 1px;
        font-size: 8px;
        color: white;
    }

    footer {
        padding: 10px 50px;
    }

    .article {
        margin-bottom: 0.5rem;
        padding: 0.1rem;
    }

    .post {
        color: #34a1cd;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        font-size: 0.8em;
        border-radius: 0.25rem;
        padding: 0.5rem 1rem;
        margin-right: 1rem;
        border: 3px solid #34a1cd;
    }

    .wrapper {
        visibility: hidden;
    }

    .wrapper img {
        visibility: hidden;
    }

    .header-porto {
        margin-left: 10px;
        margin-top: 100px;
        margin-bottom: 100px;
        margin-right: 160px;
    }

}
